body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e4e4e4;
    background-image:url('dark.jpg') ;
    background-size: cover;
    background-position: center;
    color: white;
}


section {
    text-align: center;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    border: 2px solid #ecd7ba;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

/* .game--title {
    font-size: 35px;
    color: #1f1f1f;
    margin: 50px auto;
    opacity: .8;
    color: white;
    border-radius: 8px;
    border: 2px solid #fff; /* White border */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    
} */ 
.game--title {
    font-size: 35px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    /* margin: 50px auto; */
    opacity: 0.8;
    border-radius: 8px;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Make the title inline-block */
    padding: 5px 10px; /* Adjust padding to control space between text and border */
}

.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 10px auto;
    background-color: #3a3c3e;
    color: #04c0b2;

}

.game--status {
    font-size: 30px;
    color: #2cc76d;
    margin: 13px auto;
}

.game--restart {
    width: 200px;
    border-radius: 5px;
    height: 50px;
    font-size: 25px;
    color: #000000;

}

.game--restart:hover {
    background-color: #2cc76d;
}
.balloon {
    position: absolute;
    width: 40px;
    height: 60px;
    background-color: #ff6384;
    border-radius: 50%;
    animation: balloon-float 3s ease-in-out infinite;
}

@keyframes balloon-float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

